@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@600;700;900&display=swap');
[data-theme='light'] body {
  background-color: hsl(0, 0%, 98%);
}

.mt-header {
  margin-top: 50px;
}

@media (max-width: 640px) {
  .mt-header {
    margin-top: 0px;
  }
}

.nav-menu {
  display: inherit;
  flex-direction: inherit;
}

[data-theme='light'] .main-img {
  fill: hsl(214, 70%, 70%);
}
[data-theme='night'] .main-img {
  fill: hsl(214, 70%, 18%);
}

h1,
h2,
h3 {
  font-family: 'Montserrat';
}

.sub-header {
  font-family: 'Inter';
}

.card-contact {
  min-height: 582px;
}

[data-theme='light'] .section-header,
[data-theme='light'] .sub-header {
  color: hsla(225, 33%, 20%, 0.9);
}

body {
  font-family: 'Inter';
  font-weight: 300;
}

h1 {
  background-image: linear-gradient(
    90deg,
    hsl(210, 90%, 45%),
    hsl(205, 83%, 48%),
    hsl(202, 82%, 44%),
    hsl(205, 90%, 47%),
    hsl(207, 85%, 49%),
    hsl(210, 70%, 50%)
  );
  background-clip: text;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

[data-theme='night'] h1 {
  background-image: linear-gradient(
    90deg,
    hsl(218, 74%, 34%),
    hsl(212, 67%, 32%),
    hsl(210, 65%, 32%),
    hsl(215, 57%, 34%),
    hsl(220, 48%, 38%),
    hsl(215, 52%, 36%)
  );
}

.card-project {
  border-radius: 6px;
}

.dialog {
  max-width: min(90vw, 60ch);
}

.dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.75);
}

.contact-moreinfo {
  width: fit-content;
  margin-left: auto;
  margin-top: 1em;
  opacity: 0.65;
}

.wave {
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.wave-2,
.wave-3 {
  width: 100%;
  aspect-ratio: 960/140;
}

[data-theme='light'] .bg-about {
  background-image: linear-gradient(
    hsl(214, 55%, 58%),
    hsl(214, 55%, 55%),
    hsl(214, 55%, 52%),
    hsl(214, 55%, 50%),
    hsl(214, 55%, 52%),
    hsl(214, 55%, 55%),
    hsl(214, 55%, 58%)
  );
}

[data-theme='light'] .bg-about-card {
  background-color: hsl(216, 100%, 97%);
}

[data-theme='light'] .wave-1 {
  background-image: url('./assets/wave1light.svg');
}
[data-theme='night'] .wave-1 {
  background-image: url('./assets/wave1dark.svg');
}

[data-theme='light'] .wave-2 {
  background-image: url('./assets/wave2light.svg');
}
[data-theme='night'] .wave-2 {
  background-image: url('./assets/wave2dark.svg');
}

[data-theme='light'] .wave-3 {
  background-image: url('./assets/wave3light.svg');
}
[data-theme='night'] .wave-3 {
  background-image: url('./assets/wave3dark.svg');
}

.blobs {
  position: absolute;
  width: 110vw;
  left: -30px;
  height: 200%;
  top: -13%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
}

[data-theme='light'] .blobs {
  background-image: url('./assets/blobsLight.svg');
}
[data-theme='night'] .blobs {
  background-image: url('./assets/blobsDark.svg');
}

div {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

[data-theme='light'] .spinner {
  content: url('./assets/spinner.svg');
}

[data-theme='night'] .spinner {
  content: url('./assets/spinnerDark.svg');
}

.footer-title {
  opacity: 0.9;
}
